@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}
